<!DOCTYPE html>
<html>
	<head>
		<title>Working Firefighters | Register</title>
	</head>
	<body>
		<h1>Register</h1>
		<p>Welcome to the the Working Firefighters - Registration page</p>
	</body>
</html>